<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="https://i.imgur.com/u1OSDAq.png">
    <title>Answers</title>
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="js/scripts.js" async></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous" async></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous" async></script>

</head>
<body>
<!-- Demo header-->
<section class="py-5 header text-center text-white">
    <div class="container pt-4">
        <header id="header">
            <h1 class="display-4">Danh sách phòng họp</h1>
            <p class="font-italic mb-1">Các câu trả lời của câu hỏi. Bạn có thể gửi yêu cầu kết nối cho người đặt câu
                hỏi hoặc trả lời</p>
            <p class="font-italic"> Trang chủ của
                <a class="text- text-white" href="https://www.facebook.com/lqdchatventure">
                    <u>LQDChatventure</u>
                </a>
            </p>
        </header>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 mx-auto">
                <div class="card shadow border-0 mb-5">
                    <div class="card-body p-5">
                        <h4 class="header text-center"> Nickname và tên thật của bạn trong game</h4>

                        <div class="input-group flex-nowrap p-3 m-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> Đó là? </span>
                            </div>
                            <input type="text" aria-label="room-name-label" class="form-control"
                                   placeholder="Nickname" id="nickname">
                            <input type="text" aria-label="room-name-label" class="form-control"
                                   placeholder="Tên thật" id="realname">
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-12 mx-auto">
                <div class="card shadow border-0 mb-5">
                    <div class="card-body p-5">

                        <h4 class="header text-center"> Tạo phòng chơi </h4>

                        <div class="input-group flex-nowrap p-3 m-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Thông tin</span>
                            </div>
                            <input type="text" aria-label="room-name-label" class="form-control"
                                   placeholder="Tên phòng" id="room-name">
                            <input type="password" aria-label="room-password-label" class="form-control"
                                   placeholder="Mật khẩu" id="room-password">
                            <input type="number" aria-label="room-participants-number-label" class="form-control"
                                   placeholder="Số thành viên" min="10" max="100" id="room-participants-number">
                        </div>

                        <div class="input-group flex-nowrap input-group-lg p-3 m-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="room-description-addon-wrapping">Mô tả</span>
                            </div>
                            <input type="text" class="form-control"
                                   placeholder="Chút mô tả về room của bạn? (Không bắt buộc)"
                                   aria-label="room-description-label"
                                   aria-describedby="addon-wrapping" id="room-description">
                        </div>

                        <div class="input-group flex-nowrap p-3 m-1">

                            <button type="button" class="btn btn-outline-primary btn-lg btn-block"
                                    id="create-new-meeting-room" onclick="createNewGameRoom()">
                                Tạo room mới
                            </button>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row" id="list_groups">

        </div>
    </div>
</section>
<script>
    var rooms_list = <%- rooms_list %>;
    var sender_id = <%- sender_id %>;

    var rooms_list_groups = document.getElementById('list_groups');

    // console.log(rooms_list, sender_id, quest_id, answers_list_groups)

    var rooms_list_groups_innerHTML = "<div class=\"col-lg-12 mx-auto\">\n" +
        "<div class=\"card shadow border-0 mb-5\">\n" +
        "                    <div class=\"card-body p-5\">\n" +
        "                        <ul class=\"list-group\">";

    if (rooms_list.length === 0) {
        rooms_list_groups_innerHTML += "<li class=\"list-group-item rounded-0 d-flex align-items-center justify-content-between\">" +
            "    <h2 class=\"h4 mb-1\">Chưa có phòng game nào đang hoạt động hiện tại</h2>\n" +
            "        <p class=\"small text-muted font-italic mb-4\">Tổ chức 1 round bằng cách tạo phòng ở trên</p>\n";
        "</li>"
    } else {
        for (let room in rooms_list) {

            let room_data = rooms_list[room];

            rooms_list_groups_innerHTML += "<ul class=\"list-group\  id=\"" + room_data.id + "\">";

            rooms_list_groups_innerHTML +=
                "<li class=\"list-group-item rounded-0 d-flex align-items-center justify-content-between\">" +
                "    <h2 class=\"h4 text-muted mb-1 alas\">" + room_data.name + "</h2>\n" +
                " <div class=\"mb-2\"> &nbsp; </div>" +
                "        <p class=\"h4 small  font-italic mb-4\">" + room_data.author_nickname + " - " + timeConverter(room_data.timestamp) + "</p>\n" +
                " <div class=\"mb-2\"> &nbsp; </div>";

            // console.log(room_data)

            if (!room_data.joined)
                rooms_list_groups_innerHTML += "<button type=\"button\" class=\"btn btn-outline-primary\" " +
                    "onclick=\"joinGame('" + room_data.id + "')\"> Tham gia </button>\n";
            else
                rooms_list_groups_innerHTML += "<button type=\"button\" class=\"btn btn-outline-warning\" " +
                    "onclick=\"outGame('" + room_data.id + "')\"> Thoát khỏi phòng </button>\n";

            if (room_data.isAuthor)
                rooms_list_groups_innerHTML += "<button type=\"button\" class=\"btn btn-outline-danger\" " +
                    "onclick=\"removeGame('" + room_data.id + "')\"> Xóa phòng </button>\n";

            rooms_list_groups_innerHTML += "</li>" +
                "<li>" +
                "<div class=\"input-group-prepend\">\n" +
                "                                <span class=\"input-group-text\" id=\"room-password-addon-wrapping\">Mật khẩu phòng</span>\n" +
                " <input type=\"password\" aria-label=\"room-password-label\" class=\"form-control\"\n" +
                "                                   placeholder=\"Mật khẩu\" id=\"room-password-" + room_data.id + "\">" +
                "                            </div>" +
                "</li>";

            rooms_list_groups_innerHTML +=
                "<li class=\"list-group-item rounded-0 d-flex align-items-center justify-content-between\">" +
                "    <p class=\"p text-muted mb-1 alas p-3 m-1\">" + room_data.description + "</p>\n" +
                "<div>" +

                "    <span class=\"badge badge-primary badge-pill\">" + room_data.participants_number + " thành viên tổng thể của phòng</span>\n" +
                "    <span class=\"badge badge-warning badge-pill\">" + room_data.crr_participants + " thành viên đã tham gia</span>\n" +
                "</div>"


            rooms_list_groups_innerHTML += "</li>"

            // document.getElementById(cnt.toString()).onclick = function () {
            //     postRequest('ans', cnt, quest_id, sender_id);
            //     location.reload();
            // }
        }
    }

    rooms_list_groups_innerHTML += "  </ul>\n" +
        "            </div>\n" +
        "        </div>" +
        "</div>\n"

    rooms_list_groups.innerHTML = rooms_list_groups_innerHTML;

    function handlerCallback(response) {
        switch (response.error) {
            case 1:
                alert("Wait what who r u");
                break;
            case 2:
                alert("Bạn đang ở trong phòng chơi khác");
                break;
            case 3:
                alert("Dù bạn có làm gì thì số người vẫn phải lớn hơn 4 bé hơn 122");
                break;
            case 4:
                alert("Sai mật khẩu")
                break;
            case 5:
                alert("Too late. Phòng này không còn tồn tại")
                break;
            case 6:
                alert("Bạn hiện đang không tham gia phòng này")
                break;
            case 7:
                alert("Bạn không có quyền để thực hiện hành động này")
                break;
            case 8:
                alert("Phòng game đã đủ người để tham gia rồi")
                break;
            case 9:
                alert("Bạn đang tham gia game khác đang hoạt động")
                break;
            case 10:
                alert("Nickname hoặc tên thật đã có người sử dụng");
                break;
            case 0:
                alert("Thành công");
                break;
        }
    }

    function postRequest(url, data) {
        var xhr = new XMLHttpRequest();

        function onchange() {
            if (xhr.readyState === 4) {
                handlerCallback(JSON.parse(xhr.response));
            }
        }

        xhr.onreadystatechange = onchange;

        xhr.open("POST", url, true); // true for asynchronous
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            data: data
        }));

    }

    function createNewGameRoom() {

        let data = {
            room_name: document.getElementById("room-name").value,
            room_description: document.getElementById("room-description").value,
            room_participants_number: parseInt(document.getElementById("room-participants-number").value),
            room_password: document.getElementById("room-password").value,
            id: sender_id
        }

        if (isNaN(data.room_participants_number) || 122 < data.room_participants_number || data.room_participants_number < 3) {
            alert("Số thành viên tham gia phải lớn hơn 4 và bé hơn 122");
            return;
        }

        postRequest('', data);
    }

    function joinGame(roomId) {
        let data = {
            action: 'join',
            id: sender_id,
            room_id: roomId,
            room_password: document.getElementById("room-password-" + roomId).value,
            nickname: document.getElementById("nickname").value,
            realname: document.getElementById("realname").value,
        }

        if (data.nickname === '' || data.realname === '') {
            alert('Bạn chưa nhập nickname và tên thật');
            return
        }

        postRequest('', data);
    }

    function outGame(roomId) {
        let data = {
            action: 'out',
            id: sender_id,
            room_id: roomId
        }

        postRequest('', data);
    }

    function removeGame(roomId) {
        let data = {
            action: 'remove',
            id: sender_id,
            room_id: roomId
        }

        postRequest('', data);
    }

    function timeConverter(timestamp) {
        var a = new Date(timestamp);
        // // var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        // // var year = a.getFullYear();
        // // var month = months[a.getMonth()];
        // // var date = a.getDate();
        // // var hour = a.getHours();
        // // var min = a.getMinutes();
        // // var sec = a.getSeconds();
        // // return date + " " + month + " " + year + " " + hour + ":" + min + ":" + sec;
        return a.toLocaleString("vi-VN", {timeZone: "Asia/Ho_Chi_Minh"});
    }

</script>
</body>
<style>
    .alas {
        word-wrap: break-word;
    }

</style>
</html>