<div class="container">
    <h1>Bảng xếp hạng</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="leaderboard-card">
                <div class="leaderboard-card__top"><h3 class="text-center">-2</h3></div>
                <div class="leaderboard-card__body">
                    <div class="text-center">
                        <img src="img/ok.png" class="circle-img mb-2" alt="User Img"><h5 class="mb-0">abc</h5>
                        <p class="text-muted mb-0">def</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>undefined</span>
                            <span>1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="leaderboard-card leaderboard-card--first">
                <div class="leaderboard-card__top">
                    <h3 class="text-center">-1</h3></div>
                <div class="leaderboard-card__body">
                    <div class="text-center">
                        <img src="img/ok.png" class="circle-img mb-2" alt="User Img"><h5 class="mb-0">ab</h5>
                        <p class="text-muted mb-0">de</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>undefined</span>
                            <span>1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="leaderboard-card">
                <div class="leaderboard-card__top"><h3 class="text-center">5</h3></div>
                <div class="leaderboard-card__body">
                    <div class="text-center">
                        <img src="img/ok.png" class="circle-img mb-2" alt="User Img"><h5 class="mb-0">a</h5>
                        <p class="text-muted mb-0">d</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>1</span>
                            <span>undefined</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>